output/

result/bootstrap
result/bootstrap_stats
result/bootstrap_plot
result/DMhalo_density_profiles
result/fitting_full
result/DMhalo_idx_table
result/DMhalo_mass_table
result/DMhalo_coords_table
result/accretion_rate_plot

job/
data/
code/illustris_python
archive/