result/accretion_rate_plot
result/bootstrap_phys

result/bootstrap_stats_phys
result/DM halos mass histogram
result/DMhalo_coords_table
result/DMhalo_density_profiles_phys
result/DMhalo_idx_table
result/DMhalo_mass_table
result/fitting_full

output/
data/
code/illustris_python
archive/